@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: url('demo2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:transparent;
    padding: 0px 5%;
     
}
.header .logo{
    width: 300px;
    height: 130px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img{
    width: 100%;
    height: 100%
}
.header i{
    position: absolute;
    top: 5%;
    right:5%;
    font-size: 1.8em;
    color: yellow;
    font-weight: 800;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 0;
    right: -25%;
    width: 25%;
    height: 100vh;
    background: white;
    padding: 150px 80px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.45);
}
.menu .links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
}
.menu .links i{
    position: absolute;
    top: 5%;
    right: 15%;
    font-size: 1.8em;
    color: yellow;
    font-weight: 800;
    cursor: pointer;
}
.menu .links a{
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.menu .links a:hover{
    color: yellow;
}
.menu .links button{
    width: 100px;
    padding: 3px 10px;
    font-size: 1em;
    margin-top: 10px;
    color: black;
    background: yellow;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    outline: none;

}
.menu .links button:hover{
    color: yellow;
    background: black;
    border: 1px solid yellow;
}
.container1{
    width: 100%;
    height: 480px;
    padding: 10px 20px;
    margin: 10px 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 .information{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
     overflow: hidden;
}
.container1 .information .img{
  width: 100%;
  height: 120px;
  display: flex;
  align-items: self-end;
  justify-content: center;
}

.container1 .information h2{
    font-size: 25px;
    color:yellow;
    margin-bottom: 20px;
    scale: 1.4;
    
}
.container1 .information h3{
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
}
.container1 .information p{
    color: white;
    font-size: 20px;
}
.container1 .information button{
    width: 120px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    outline: none;
    color: black;
    background: yellow;
    border: 1px solid black;
    border-radius: 5px;
    transition: all ease-in 0.5s;
    cursor: pointer;
}
.container1 .information button:hover{
    color: yellow;
    background: black;
    border: 1px solid yellow;
}
.about{
    width: 100%;
    height: 550px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    
}
.about .right,
.about .left{
    width: 50%;
    height: 100%;
    padding: 10px 40px;
}
.about .right{
    background:rgba(0, 0, 0, 0.80);
    border: 1px solid rgba(0, 0, 0, 0.80);
    border-radius: 30px;
   
}
.about .right h2{
    color: white;
    font-size: 2em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.about .right h3{
    color: yellow;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}
.about .right p{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: justify;
}
.about .left {
    background: url('h1.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    height: 400px;
    border-radius: 60%;

}
.service{
    width: 100%;
    height: 550px;
    gap: 0px;
    padding-right: 30px;
    padding-left: 30px;
    background: black;
}
.service .parent
{
    width: 100%;
    height: 450px;
    padding: 10px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap:40px;    
}
.service .parent .card11{
    width: 30%;
    height: 100%;
    box-shadow: 0px 0px 5px rgb(117, 5, 223);
    border-radius: 4px;
    border: 2px solid blueviolet;
    background: url(card\ 1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    transition: all ease-in 0.35s;
    
}
.service .parent .card22{
    width: 30%;
    height: 100%;
    box-shadow: 0px 0px 5px rgb(117, 5, 223);
    border-radius: 4px;
    border: 2px solid blueviolet;
    background: url(card2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.service .parent .card33
{
    width: 30%;
    height: 100%;
    box-shadow: 0px 0px 5px rgb(117, 5, 223);
    border-radius: 4px;
    border: 2px solid blueviolet;
    background: url(card\ 1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
.service h1{
    text-align: center;
    font-size: 30px;
    color: yellow;
    margin:40px 0px;
    cursor: pointer;
}
.service h1:hover{
    color:rgb(252, 101, 0);
    font-weight: bold;
    background:linear-gradient(10ded,green);
    background-clip: text;
}
.service  h2{
    text-align: center;
    font-size: 30px;
    color:white;
    background-clip: text;
    -webkit-background-clip: text;
    margin:40px 0px;
    cursor: pointer; 
}
.service h2:hover
{
    color:white;
    font-weight: bold;
    background:linear-gradient(10ded,green);
    background-clip: text;
}
.parent .card11 .banner h2:hover,
.parent .card22 .banner h2:hover,
.parent .card33 .banner h2:hover
{
    color: hotpink;
}
.parent .card11 ul ,
.parent .card22 ul ,
.parent .card33 ul
{
    list-style:none;
}
.parent .card11 ul li,
.parent .card22 ul li,
.parent .card33 ul li
{
    
    font-size: 18px;
    padding: 10px 20px;
    text-align: justify;
    justify-content: center !important;
    color: white;
    transition: all ease-in 0.35s;
}
.parent .card11 ul li:hover,
.parent .card22 ul li:hover,
.parent .card33 ul li:hover
{
    font-size: 20px;
    padding: 10px 20px;
    text-align: justify;
    cursor: pointer;
    color: yellow;
}
.header1 h1{
    text-align: center;
    font-size: 40px;
    background:linear-gradient(45deg,blueviolet,orange,darkcyan);
    color: yellow;
    margin:40px 0px;
    cursor: pointer;
}
.image-gallery
{
    padding-top: 30px;
    width: 100%;
    height: 100vh;
    margin: 30px 0px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px soild yellow;
}
.image-gallery img{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in 0.4s;
    border:2px solid black;
}
#btnPrev{
    position: absolute;
    top: 50%;
    left: 10px;
    outline: none;
    border: none;
    color: black;
    font-size: 30px !important;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
#btnPrev:hover{
    color: cyan;
}
#btnNext{
    position: absolute;
    top: 50%;
    right: 10px;
    outline: none;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
#btnNext:hover{
    color: cyan;
}

.content h1
{
    text-align: center;
    font-size: 40px;
    background:linear-gradient(45deg,blueviolet,orange,darkcyan);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin:40px 0px;
    cursor: pointer;
    margin-top: 730px;
}
#paragraph{
    text-align: center;
    text-shadow: 0px;
    color: blueviolet;
    font-size: 1.2em;
    margin-bottom: 50px; 
}
.content01 img
{
    width: 100%;
    height: 100%;
    background: url('pratikshamolak.jpg');
    padding-left: 30px;
    padding-right: 30px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.74);
}
.title2 h2{
    width: 100%;
    height: 80px;
    color: yellow;
    font-size: 2.5em;
}
.container{
    width: 850px;
    height: 500px;
    background:white;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px ;
    overflow: hidden;
    border: 2px solid black;
}
.container .left,
.container .right{
    width:50%;
    height: 100%;
    transition: all ease-in 0.4s;
}
.container .left{
    background:url(amruta3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 20px;
    gap: 15px;
}
.container .left h2{
    color: white;
    font-size: 22px;
}
.container .left p{
    font-weight: 500;
    color: white;
}
.container .left button{
    padding: 5px 25px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0,0,0.35);
    outline: none;
    border: 1px solid #ffff;
    cursor: pointer;
    margin-top: 10px;
}
.container .left button:hover{
    background: orangered;
    color: white;
    border: 2px solid orangered;
}
.container .right{
    background:url(amruta2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;width: 50%;
    height: 100%;
    transition: all ease-in 0.4s;
    color: black;
}
.container .right .title h2{
    color: blueviolet;
    font-weight: 900;
    font-size: 30px;
}
.container .right form{
    padding: 10px 50px;
}
.container .right form .title{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: black;
}
.container .right form .input-field{
    width: 100%;
    padding: 8px;
    background: rgba(0, 0, 128, 0.623);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 3px;
    gap: 5px;
    max-height: 100px;
}
.container .right form .input-field i{
    width: 10%;
    text-align: center;
    font-size: 18px;
    color: white;
}
.container .right form .input-field input{
    width: 90%;
    padding: 8px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}
.container .right form .input-field input::placeholder{
    color: whitesmoke;
}
.container .right form button{
    width: 40%;
    margin-bottom: 10px;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 600;
    color: navy;
    border: 2px solid navy;
    border-radius: 3px;
    cursor: pointer;
}
.container .right form button:hover{
    background: orangered;
    color: white;
    border: 2px solid orangered;
    font-size: 16px;
}
#fnField{
    transition: all ease-in 0.4s;
    max-height: 0px;
    overflow: hidden;
    padding: 0;
}
#cpField{
    transition: all ease-in 0.4s;
    max-height: 0px;
    overflow: hidden;
    padding: 0;
}
.footer{
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.84);
    padding: 30px 0px;
}
.footer .container2{
    margin: auto 60px;
}
.footer .container2 .row .col ul{
    list-style: none;
}
.footer .container2 .row .col ul li{
    margin-top: 0px;
}
.footer .container2 .row .col ul li a{
    color: white;
    text-decoration: none;
    line-height: 29px;
}
.footer .container2 .row{
    display: flex;
    flex-wrap: wrap;
}
.footer .container2 .row .col{
    width: 25%;
    padding: 0px 15px;
}
.footer .container2 .row .col h4{
    text-transform: uppercase;
    color: yellow;
    margin-bottom: 8px;
}
.footer .container2 .row .col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: white;
    margin: 10px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all ease-in 0.4s;
}
.footer .container2 .row .col .social-links a:hover{
    background:linear-gradient(90deg,red,blue);
    color: white;
    scale: 1.2;
}
.footer .container2 .row .col .social-links a i{
    font-size: 20px;
}
.copyright{
    width: 100%;
    height: 50px;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    background: black;
}
